@import "~bulma/sass/utilities/_all.sass";
@import "~bulma-helpers/bulma-helpers.sass";

pre {
  border-radius: 0.75em;
  margin-left: 2em !important;
  margin-right: 2em !important;
}

@import "~bulma";
